---
import "../../layouts/Layout.astro";
import '../../components/ServicesHero.astro';
---

<section class="py-18 PX-4 bg-gray-50">
  <div class="container mx-auto">
    <h2 class="text-2xl md:text-4xl font-black text-blue-800 mb-4 font-roboto text-center">Imprimerie & Signalétique</h2>
    <p class="text-gray-600 mb-6 font-medium text-center">De la conception a l'impression, donnez vie a vos idees sur tout support</p>
    <div class="w-24 h-1 bg-emerald-600 mx-auto mt-6 rounded-full mb-6"></div>
      
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-8">
      <div class="bg-white rounded-xl shadow-md overflow-hidden  p-6 border border-gray-100 transition-transform hover:scale-105">
        <h3 class="text-xl mb-3 font-bold text-gray-800">IMPRESSION OFFSET</h3>
        <img src="images/OIP (1).webp" class="mb-6 w-full h-48 object-cover rounded-lg">
        <p class="text-gray-600 mb-6">Ideal pour les gros volumes : brochures, magazines et flyers avec une qualite irreprochable</p>
          <a href="/projects" class="inline-flex items-center text-emerald-600 font-semibold hover:text-emerald-700">
            Voir nos realisations →
          </a>
        </div>
      <div class="bg-white rounded-xl shadow-md overflow-hidden  p-6 border border-gray-100 transition-transform hover:scale-105">
        <h3 class="text-xl mb-3 font-bold text-gray-800">IMPRESSION NUMERIQUE</h3>
        <img src="images/bank-phrom-Tzm3Oyu_6sk-unsplash.jpg" class="mb-6 w-full h-48 object-cover rounded-lg">
          <p class="text-gray-600 mb-6">Rapidite et flexibilite pour vos impressions personalisees</p>
          <a href="/projects" class="mt-4 inline-flex items-center text-emerald-600 font-semibold hover:text-emerald-700">
            Voir nos realisations →
          </a>
        </div>
      <div class="bg-white rounded-xl shadow-md overflow-hidden  p-6 border border-gray-100 transition-transform hover:scale-105">
        <h3 class="whitespace-nowrap text-xl mb-3 font-bold text-gray-800">GRAND FORMAT & SIGNALETIQUE</h3>
        <img src="images/photo-1693031630369-bd429a57f115.avif" class="mb-6 w-full h-48 object-cover rounded-lg">
          <p class="text-gray-600 mb-6">Habillages de vehicules, banderoles et panneaux publicitaires pour une visibilite maximale</p>
         <a href="/projects"  class="inline-flex items-center text-emerald-600 font-semibold hover:text-emerald-700">
            Voir nos realisations →
         </a>
        </div>
        <div class="bg-white rounded-xl shadow-md overflow-hidden  p-6 border border-gray-100 transition-transform hover:scale-105">
        <h3 class="whitespace-nowrap text-xl mb-3 font-bold text-gray-800">Objects Publicitaires</h3>
        <img src="images/photo-1693031630369-bd429a57f115.avif" class="mb-6 w-full h-48 object-cover rounded-lg">
          <p class="text-gray-600 mb-6">Habillages de vehicules, banderoles et panneaux publicitaires pour une visibilite maximale</p>
         <a href="/projects"  class="inline-flex items-center text-emerald-600 font-semibold hover:text-emerald-700">
            Voir nos realisations →
         </a>
        </div>
      </div>
</section>