<footer class="py-0.5 bg-slate-900 text-white">
        <!--Logos -->
          <div class="flex items-start justify-between gap-8 pb-10 border-b border-slate-800 w-full">
        <!--Left logo -->
            <div class="flex shrink-0"> 
               <img class="h-24 md:h-30 w-auto object-contain brightness-110" src="images/WhatsApp Image 2025-12-14 at 10.50.48.jpeg">
            </div>
            <!--Text -->
            <div class="max-w-md text-center py-10">

<footer class="py-12 bg-slate-900 text-white">
        <!--Logos -->
          <div class="flex items-center justify-between gap-8 pb-10 border-b border-slate-800 md:px-8 mx-auto">
        <!--Left logo -->
            <div class="flex shrink-0"> 
               <img class="h-32 md:h-30 w-auto object-contain brightness-110" src="images/WhatsApp Image 2025-12-14 at 10.50.48.jpeg">
            </div>
            <!--Text -->
            <div class="max-w-md text-center">
              <p class="text-slate-300 italic text-sm md:text-base">
               "Fournir des solutions durables, innovantes et de qualité à tous vos problèmes."
              </p>
            </div>
        <!--Right logo -->
           <div class="flex shrink-0">
             <img class="h-24 md:h-28 w-auto object-contain" src="images/WhatsApp Image 2025-12-27 at 13.16.04.jpeg">
            </div>
          </div>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-12 py-8"> 
    <div>
      <h4 class="text-emerald-500 font-bold mb-6 uppercase tracking-wider text-sm px-4">Liens Rapide</h4>
     <ul class="space-y-3 px-6">
           <li class="pb-2"><a href="/" class="text-slate-400 hover:text-white transition">Accueil</a></li>
           <li class="pb-2"><a href="/about" class="text-slate-400 hover:text-white transition">À Propos</a></li>
           <li class="pb-2"><a href="/services" class="text-slate-400 hover:text-white transition">Services</a></li>
           <li class="pb-2"><a href="/projects" class="text-slate-400 hover:text-white transition">Réalisations</a></li>
           <li class="pb-2"><a href="/contact" class="text-slate-400 hover:text-white transition">Contact</a></li>
    </ul>
  </div>
  <div>
    <h4 class="text-emerald-500 font-bold mb-6 uppercase tracking-wider text-sm px-2">Contactez-nous</h4>
    <ul class="px-6 space-y-4">
    <h4 class="text-emerald-500 font-bold mb-6 uppercase tracking-wider text-sm px-4">Contactez-nous</h4>
    <ul class="px-5 space-y-4">
     <li class="flex items-start gap-3 text-slate-400">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 text-emerald-500 shrink-0">
        <path fill-rule="evenodd" d="m11.54 22.351.07.04.028.016a.76.76 0 0 0 .723 0l.028-.015.071-.041a16.975 16.975 0 0 0 1.144-.742 19.58 19.58 0 0 0 2.683-2.282c1.944-1.99 3.963-4.98 3.963-8.827a8.25 8.25 0 0 0-16.5 0c0 3.846 2.02 6.837 3.963 8.827a19.58 19.58 0 0 0 2.682 2.282 16.975 16.975 0 0 0 1.145.742ZM12 13.5a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" clip-rule="evenodd" />
        </svg>
        <span>Douala, Cameroon</span>
      </li>
      <li class="flex items-start gap-3 text-slate-400">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 text-emerald-500 shrink-0">
        <path fill-rule="evenodd" d="M1.5 4.5a3 3 0 0 1 3-3h1.372c.86 0 1.61.586 1.819 1.42l1.105 4.423a1.875 1.875 0 0 1-.694 1.955l-1.293.97c-.135.101-.164.249-.126.352a11.285 11.285 0 0 0 6.697 6.697c.103.038.25.009.352-.126l.97-1.293a1.875 1.875 0 0 1 1.955-.694l4.423 1.105c.834.209 1.42.959 1.42 1.82V19.5a3 3 0 0 1-3 3h-2.25C8.552 22.5 1.5 15.448 1.5 6.75V4.5Z" clip-rule="evenodd" />
        </svg>
        <span>+1 (506) 962-8362</span>
      </li>
      <li class="flex items-start gap-3 text-slate-400">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 text-emerald-500 shrink-0">
        <path d="M1.5 8.67v8.58a3 3 0 0 0 3 3h15a3 3 0 0 0 3-3V8.67l-8.928 5.493a3 3 0 0 1-3.144 0L1.5 8.67Z" />
        <path d="M22.5 6.908V6.75a3 3 0 0 0-3-3h-15a3 3 0 0 0-3 3v.158l9.714 5.978a1.5 1.5 0 0 0 1.572 0L22.5 6.908Z" />
        </svg>
        <span>fodigroup@gmail.com</span>
      </li>
       <li class="flex items-start gap-3 text-slate-400">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 text-emerald-500 shrink-0">
        <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25ZM12.75 6a.75.75 0 0 0-1.5 0v6c0 .414.336.75.75.75h4.5a.75.75 0 0 0 0-1.5h-3.75V6Z" clip-rule="evenodd" />
        </svg>
        <span>Lun-Sam</span>
      </li>
    </ul>
    </div>
    <div>
      <h4 class="text-emerald-500 font-bold mb-6 uppercase tracking-wider text-sm px-4">Réseaux Sociaux</h4>
      <div class="flex flex-wrap gap-4 px-2">
=======
      <div class="flex flex-wrap gap-4">
         <a href="https://wa.me/237694553508" target="_blank"
              class="p-3 bg-slate-800 rounded-full flex items-center gap-2 hover:bg-green-500 hover:text-white text-green-500 font-semibold py-2 px-4 shadow-lg transition duration-300">
          <ion-icon name="logo-whatsapp" class="text-xl"></ion-icon>
        </a>
        </span>
        <span>
           <a href="https://" target="_blank"
              class="p-3 bg-slate-800 flex items-center gap-2 hover:bg-blue-600 hover:text-white text-blue-500 font-semibold py-2 px-4 rounded-full shadow-lg transition duration-300">
               <ion-icon name="logo-facebook" class="text-xl"></ion-icon>
           </a>
        </span>
         <span>
          <a href="https://" target="_blank"
              class="p-3 bg-slate-800 flex items-center gap-2 hover:bg-blue-500 hover:text-white text-blue-400 font-semibold py-2 px-4 rounded-full shadow-lg transition duration-300">
          <ion-icon name="logo-linkedin" class="text-xl"></ion-icon>
          </a>
        </span>
         <span>
          <a href="https://" target="_blank"
              class="p-3 bg-slate-800 flex items-center gap-2 hover:text-white hover:bg-red-300 text-red-400 font-semibold py-2 px-4 rounded-full shadow-lg transition duration-300">
          <ion-icon name="logo-instagram" class="text=xl"></ion-icon>
          </a>
        </span>
        <span>
          <a href="https://twitter.com/username" target="_blank"
              class="p-3 bg-slate-800 flex items-center gap-2 hover:text-white hover:bg-blue-600 text-blue-500 font-semibold py-2 px-4 rounded-full shadow-lg transition duration-300">
            <ion-icon name="logo-twitter" class="text-xl"></ion-icon>
            </a>
        </span>
    </div> 
  </div>
  </div>
  <div class="border-t border-slate-800 py-8">
    <div class="text-center max-w-7xl mx-auto px-4 flex flex-col md:flex-row items-center justify-center gap-4">
      <p class="text-slate-500 text-xs text-center md:text-left mb-4">&copy; 2026 FODI GROUP. Tous les droits sont reserver.</p>
  <div class="border-t border-slate-800 text-center max-w-7xl mx-auto px-0 flex md:flex-row items-center md:items-center justify-center pt-8">
      <p class="text-slate-500 text-xs mb-4">&copy; 2026 FODI GROUP. Tous les droits sont reserver.</p>
      <div class="flex flex-wrap justify-center gap-6 text-xs text-slate-400">
      <a href="/mentions-legales" class="hover:text-emerald-500 transition">
        Mentions légales
      </a>
      <a href="/politique-confidentialite" class="hover:text-emerald-500 transition">
        Politique de confidentialité
      </a>
      <a href="/conditions-utilisation" class="hover:text-emerald-500 transition">
        Conditions d’utilisation
      </a>
    </div>
    </div>
  </div>
</footer>