<footer class="py-10 bg-gray-600 text-white md:w-auto">
  <div class="flex flex-col md:flex-row justify-between items-center w-full">
    <div class="flex justify-start">
      <img class="w-auto max-h-32" src="images/WhatsApp Image 2025-12-14 at 10.50.48.jpeg">
    </div>
    <div class="flex justify-end px-4">
      <p class="text-white font-medium text-sm md:text-base lg:text-lg">Fournir une solution durable, innovative et de qualiter a tous vos problems</p>
    </div>
    <div class="justify-end">
      <img class="w-auto max-h-32" src="images/WhatsApp Image 2025-12-27 at 13.16.04.jpeg">
    </div>
    </div>
  <div class="grid grid-cols-3 gap-8"> 
     <ul class="px-5 pt-2">
        <p class="pt-5 font-medium pb-3 text-sm md:text-base lg:text-lg">Liens Rapide</p>
           <li class="pb-2"><a href="/" class="hover:text-blue-300 transition duration-200">Home</a></li>
           <li class="pb-2"><a href="/about" class="hover:text-blue-300 transition duration-200">A Propos</a></li>
           <li class="pb-2"><a href="/services" class="hover:text-blue-300 transition duration-200">Services</a></li>
           <li class="pb-2"><a href="/projects" class="hover:text-blue-300 transition duration-200">Projets</a></li>
           <li class="pb-2"><a href="/contact" class="hover:text-blue-300 transition duration-200">Contact</a></li>
    </ul>
    <ul class="px-5 pt-2 items-center">
      <p class="pt-5 font-medium pb-3 text-sm md:text-base lg:text-lg">Contact Us</p>
      <div class="flex flex-row-4 items-center hover:text-blue-300 transition duration-200r">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-4">
        <path fill-rule="evenodd" d="m11.54 22.351.07.04.028.016a.76.76 0 0 0 .723 0l.028-.015.071-.041a16.975 16.975 0 0 0 1.144-.742 19.58 19.58 0 0 0 2.683-2.282c1.944-1.99 3.963-4.98 3.963-8.827a8.25 8.25 0 0 0-16.5 0c0 3.846 2.02 6.837 3.963 8.827a19.58 19.58 0 0 0 2.682 2.282 16.975 16.975 0 0 0 1.145.742ZM12 13.5a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" clip-rule="evenodd" />
        </svg>
        <span class="px-1 pb-2 pt-2">Adress :</span>
      </div>
      <div class="flex flex-row-4 items-center hover:text-blue-300 transition duration-200r">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-4 pb-1">
        <path fill-rule="evenodd" d="M1.5 4.5a3 3 0 0 1 3-3h1.372c.86 0 1.61.586 1.819 1.42l1.105 4.423a1.875 1.875 0 0 1-.694 1.955l-1.293.97c-.135.101-.164.249-.126.352a11.285 11.285 0 0 0 6.697 6.697c.103.038.25.009.352-.126l.97-1.293a1.875 1.875 0 0 1 1.955-.694l4.423 1.105c.834.209 1.42.959 1.42 1.82V19.5a3 3 0 0 1-3 3h-2.25C8.552 22.5 1.5 15.448 1.5 6.75V4.5Z" clip-rule="evenodd" />
        </svg>
        <span class="px-2 pb-2 pt-2">Numero de telephone:</span>
      </div>
      <div class="flex flex-row-4 items-center hover:text-blue-300 transition duration-200r">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-4">
        <path d="M1.5 8.67v8.58a3 3 0 0 0 3 3h15a3 3 0 0 0 3-3V8.67l-8.928 5.493a3 3 0 0 1-3.144 0L1.5 8.67Z" />
        <path d="M22.5 6.908V6.75a3 3 0 0 0-3-3h-15a3 3 0 0 0-3 3v.158l9.714 5.978a1.5 1.5 0 0 0 1.572 0L22.5 6.908Z" />
        </svg>
        <span class="px-2 pb-2 pt-2">Email :</span>
      </div>
      <div class="flex flex-row-4 items-center hover:text-blue-300 transition duration-200">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-4">
        <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25ZM12.75 6a.75.75 0 0 0-1.5 0v6c0 .414.336.75.75.75h4.5a.75.75 0 0 0 0-1.5h-3.75V6Z" clip-rule="evenodd" />
        </svg>

        <span class="px-2 pb-2 pt-2">Jour Ouvert :</span>
      </div>
    </ul>
      <ul class="px-5 pt-2 hover:shadow-blue-300 pb-2">
      <p class="pt-5 font-medium pb-5">Our Social Media</p>
      <div class="flex flex-row-4">
        <span>
         <a href="https://wa.me/237694553508" target="_blank"
              class="flex items-center gap-2 hover:bg-white text-green-500 font-semibold py-2 px-4 rounded-full shadow-lg transition duration-300">
          <ion-icon name="logo-whatsapp" class="w-5 h-5"></ion-icon>
        </a>
        </span>
        <span>
           <a href="https://" target="_blank"
              class="flex items-center gap-2 hover:bg-white text-blue-700 font-semibold py-2 px-4 rounded-full shadow-lg transition duration-300">
               <ion-icon name="logo-facebook" class="w-5 h-5"></ion-icon>
           </a>
        </span>
         <span>
          <a href="https://" target="_blank"
              class="flex items-center gap-2 hover:bg-white text-blue-500 font-semibold py-2 px-4 rounded-full shadow-lg transition duration-300">
          <ion-icon name="logo-linkedin" class="w-5 h-5"></ion-icon>
          </a>
        </span>
         <span>
          <a href="https://" target="_blank"
              class="flex items-center gap-2 hover:bg-white text-red-400 font-semibold py-2 px-4 rounded-full shadow-lg transition duration-300">
          <ion-icon name="logo-instagram" class="w-5 h-5"></ion-icon>
          </a>
        </span>
        <span>
          <a href="https://twitter.com/username" target="_blank"
              class="flex items-center gap-2 hover:bg-white text-blue-500 font-semibold py-2 px-4 rounded-full shadow-lg transition duration-300">
            <ion-icon name="logo-twitter" class="w-5 h-5"></ion-icon>
            </a>
        </span>
    </div> 
  </div>
  <div class="max-w-7xl mx-auto px-0 flex md:flex-row items-center md:items-center justify-center pt-9">
      <p class="text-sm">&copy; 2026 FODI GROUP. Tous les droits sont reserver.</p>
</div>
      <div class="flex md:flex-row items-center md:items-center justify-center pt-5 space-x-6">
      <a href="/mentions-legales" class="text-sm  hover:text-green-300 transition duration-200">
        Mentions légales
      </a>
      <a href="/politique-confidentialite" class="text-sm  hover:text-green-300 transition duration-200">
        Politique de confidentialité
      </a>
      <a href="/conditions-utilisation" class="text-sm  hover:text-green-300 transition duration-200">
        Conditions d’utilisation
      </a>
    </div>
</footer>