---
import Layout from "../layouts/Layout.astro";
---

<footer class="bg-gray-900 text-white py-12 border-t border-gray-800">
   <div class="container mx-auto px-4">
     <div class="flex flex-col md:flex-row justify-center items-center gap-8 mb-12">
      <div class="text-center">
        <img src="images/WhatsApp Image 2025-12-14 at 10.50.48.jpeg" class="w-70 h-30 mt-5 mb-7 px-7 rounded-lg shadow-lg loading-lazy">
    </div>
    <div class="text-center">
        <img src="images/WhatsApp Image 2025-12-27 at 13.16.04.jpeg" class="w-90 h-30 mt-5 mb-7 px-20 rounded-lg shadow-lg loading-lazy">
    </div>
   </div>
   <div class="mb-12">
      <h3 class="text-gray-200 text-2xl text-center font-bold mb-8">Our Partners</h3>
       <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-6 gap-6">
        <div class="bg-gray-800 p-4 rounded-lg hover:bg-gray-700 transition-color flex justify-center items-center h-32">
           <img src="images/eden.webp" class="w-50 h-20 mt-5 mb-7" loading="lazy">
        </div>
        <div class="bg-gray-800 p-4 rounded-lg hover:bg-gray-700 transition-color flex justify-center items-center h-32">
            <img src="images/OIP (16).webp" class="w-50 h-20 mt-5 mb-7 px-7" loading="lazy">
        </div>
        <div class="bg-gray-800 p-4 rounded-lg hover:bg-gray-700 transition-color flex justify-center items-center h-32">
            <img src="images/OIP (17).webp" class="w-50 h-20 mt-5 mb-7 px-7 rounded-lg">
        </div>
        <div class="bg-gray-800 p-4 rounded-lg hover:bg-gray-700 transition-color flex justify-center items-center h-32">
            <img src="images/OIP (18).webp" class="w-50 h-20 mt-5 mb-7 px-7 rounded-lg">
        </div>
        <div class="bg-gray-800 p-4 rounded-lg hover:bg-gray-700 transition-color flex justify-center items-center h-32">
             <img src="images/OIP%20(19).webp" class="w-50 h-20 mt-5 mb-7 px-7 rounded-lg">
        </div>
        <div class="bg-gray-800 p-4 rounded-lg hover:bg-gray-700 transition-color flex justify-center items-center h-32">
              <img src="images/télécharger (3).webp" class="w-95 h-20 mt-5 mb-7 px-7 rounded-lg">
        </div>
      </div>
   </div>
    
</footer>