---
import Navbar from './Navbar.astro';
---

<header class="bg-black-200">
	<div class="item-center flex justify-between py-5">
  <!--  <img src="src/assets/WhatsApp Image 2025-12-14 at 10.50.48.jpeg" class="w-32 h-32"> -->

			 <Navbar/>
	</div>
</header>