---
import "../layouts/Layout.astro"
---
<section class="py-16 md:py-24 mx-auto min-h-50 md:text-center flex items-center justify-center bg-linear-to-r from-blue-50 to-blue-300">
    <div class="text-center">
      <h1 class="text-blue-700 text-4xl font-bold mb-6 md:text-5xl lg:text-6xl">FODI GROUP SARL</h1>
      <h2 class="text-2xl text-gray-700 md:text-3xl font-bold mb-10 lg:text-6xl">Solutions Intégrées Multi-Secteurs</h2>
        <div class="flex flex-wrap justify-center gap-4 md:gap-6">
          <span class="inline-block font-bold text-blue-800 dark:text-blue-600 rounded-full px-6 py-3 bg-blue-200 justify-between text-lg shadow-md hover:bg-blue-300 transition-colors duration-300">Excellence</span>
          <span class="inline-block font-bold text-blue-800 dark:text-blue-600 rounded-full px-6 py-3 bg-blue-200 justify-between text-lg shadow-md hover:bg-blue-300 transition-colors duration-300">Fiabilité </span>
          <span class="inline-block font-bold text-blue-800 dark:text-blue-600 rounded-full px-6 py-3 bg-blue-200 justify-between text-lg shadow-md hover:bg-blue-300 transition-colors duration-300">Innovation  </span>
  </div>
  </div>
</section>
