<section class="py-16 px-4 bg-gray-100 drop-shadow-gray-800">
  <div class="container mx-auto">
    <div class="text-center mb-16">
      <h2 class="text-3xl md:text-4xl font-black text-blue-900 mt-4 mb-6 leading-tight">Imprimerie & Signalétique</h2>
      <div class="w-24 h-1 bg-emerald-500 mx-auto mt-4 rounded-full"></div>
      <p class="text-gray-600 text-lg mb-8 mt-6 leading-relaxed">Nous transformons vos idees en supports visuels percutants. De la conception a la pose, FODI GROUP assure une visibilite maximale a votre marque</p>
    </div>
    