<!-----
const navItems = [
    { name: "Home", href: "/index" },
    { name: "About", href: "/about" },
    { name: "Services", href:"/services" },
    { name: "Contact", href:"/contact" },
    { name: 'Projects', href:"/Projects" },
];
---
<nav class="flex items-center justify-start px-8 py-4 bg-zinc-900">
  <div class="justify-between flex">
    {
   navItems.map((item) => (
      <a 
        href={item.href} 
        class="text-accent hover:text-white transition-colors duration-300 font-medium relative group"
      >
        {item.name}
        <span class="absolute -bottom-1 left-0 w-0 h-0.5 bg-accent group-hover:w-full transition-all duration-300 text-5xl text-black-500"></span>
      </a>
    ))
  }
  </div>
    </nav>-->
