---
import Layout from "../layouts/Layout.astro";
---
<nav class="flex items-center justify-between shadow-sm dark: bg-white-400 rounded-lg border-b-2 border-blue-500">
              <div class="flex flex-col md:flex-row md:items-center gap-2">
                <img class="h-50 w-auto size-12 shrink-0 md:w-32 lg:w-48 sm:text-left object-contain md:object-cover" src="images/WhatsApp Image 2025-12-14 at 10.50.48.jpeg">
              </div>
              <div class="mx-auto max-w-md md:max-w-2xl md:flex md:shrink-0">
                <a href="/" class="text-xl font-bold text-gray-700 dark:text-gray-400 rounded-lg px-4 py-2 hover:bg-blue-100 hover:text-blue-800 transition-all duration-200
                focus:outline-none focus:ring-2 focus:ring-blue-500">Home</a>
                <a href="/about" class="text-xl font-bold text-gray-700 dark:text-gray-400 rounded-lg px-4 py-2 hover:bg-blue-100 hover:text-blue-800 transition-all duration-200
                focus:outline-none focus:ring-2 focus:ring-blue-500">About</a>
                <a href="/services" class="text-xl font-bold text-gray-700 dark:text-gray-400 rounded-lg px-4 py-2 hover:bg-blue-100 hover:text-blue-800 transition-all duration-200
                focus:outline-none focus:ring-2 focus:ring-blue-500">Services</a>
                <a href="/projects" class="text-xl font-bold text-gray-700 dark:text-gray-400 rounded-lg px-4 py-2 hover:bg-blue-100 hover:text-blue-800 transition-all duration-200
                focus:outline-none focus:ring-2 focus:ring-blue-500">Projects</a>
                <a href="/contact" class="text-xl font-bold text-gray-700 dark:text-gray-400 rounded-lg px-4 py-2 hover:bg-blue-100 hover:text-blue-800 transition-all duration-200
                focus:outline-none focus:ring-2 focus:ring-blue-500">Contact</a>
              </div>
               <div class="flex flex-col md:flex-row md:items-center gap-2 px-4 py-2">
                <img class="h-30 w-25 size-12 shrink-0 md:w-32 lg:w-48 sm:text-left object-none md:object-contain" src="images/WhatsApp Image 2025-12-27 at 13.16.04.jpeg">
              </div>
            </nav>